<ion-header>
  <ion-navbar color= "primary">
    <ion-title>
      Contatos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item-sliding *ngFor="let contact of contacts | async">
          <ion-item>
            <h1>{{ contact.name }}</h1>
            <p>{{ contact.tel }}</p>
          </ion-item>
          <ion-item-options side="left">
              <button ion-button color="secondary" (click)="editContact(contact)">
                <ion-icon name="create"></ion-icon>
              </button>
              <button ion-button color="danger" (click)="removeContact(contact.key)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          
        </ion-item-sliding>
      </ion-list>
 
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="newContact()">
      <ion-icon name="add"></ion-icon>

    </button>
  </ion-fab>

</ion-content>
